.header-title {
  font: 300 36px/48px Roboto,"Helvetica Neue",sans-serif;
  margin: 16px;
  text-align: center;
}

.card {
    margin: 1%;
    min-width: 305px;
}

.example-header-image {
  background-image: url('../../../assets/icon.png');
  background-size: cover;
  height: 64px;
  width: 64px;
}