.full-width-input {
    width: 100%;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.progress-bar {
  margin: auto;
  margin-top: 26px;
}

.main-title {
  color:white; 
  padding: 10px; 
  font-size: 24px; font: 300 24px/32px Roboto,'Helvetica Neue',sans-serif;
}