<mat-toolbar class="mat-elevation-z4" color="primary">
  <h1 class="mat-display-1 main-title">ZaklepTo</h1>
</mat-toolbar>

<div class="container-fluid" style="max-width: 400px; margin-top: 100px;">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Login:" name="login" [(ngModel)]="model.login" required>
          <mat-error>Niepoprawny login!</mat-error>
          <!-- TODO: input validation -->       
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Hasło:" name="password" [(ngModel)]="model.password" required>         
          <!-- TODO: input validation --> 
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Zaloguj</button>  
        <mat-progress-bar
          *ngIf="loading"
          class="progress-bar"
          color="primary"
          mode="indeterminate"
          value="50"
          bufferValue="75">
        </mat-progress-bar>     
      </form>
      <button mat-button color="primary" type="submit" style="margin-top: 16px">Zapomniałeś swojego loginu bądź hasła?</button>        
    </mat-card-content>
  </mat-card>
</div> 