.card {
    margin: 1%;
    min-width: 304.72px;
}

.header-title {
  font: 300 36px/48px Roboto,"Helvetica Neue",sans-serif;
  margin: 16px;
  text-align: center;
}

.calendar {
  margin: 16px;
}

.notification {
  margin : 16px;
  text-align: center;
}

.example-header-image {
  background: url('../../../assets/icon.png');
  background-size: cover;
  height: 64px;
  width: 64px;
  margin-bottom: 16px;
}