<mat-toolbar class="mat-elevation-z4 toolbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  <h1 class="mat-display-1 header-title">Zaklep.To</h1>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="logout()">Wyloguj</button>
</mat-toolbar>

<mat-sidenav-container fullscreen style="top: 64px;">
  <mat-sidenav #sidenav [mode]="'over'">
    <mat-nav-list class="sidenav">
      <div class="d-flex flex-column justify-content-between sidenav-header">
          <div mat-card-avatar class="example-header-image" ></div>         
          <div>
            <p class="mat-body-1" style="color: white; margin-bottom: 0px">{{employee.firstName}} {{employee.lastName}}</p>
            <p class="mat-body-2" style="color: white; margin: 0;">{{employee.email}}</p> 
          </div>      
      </div>
      <a mat-list-item routerLink="."><mat-icon class="sidenav-list-item-icon" >home</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="."><mat-icon class="sidenav-list-item-icon" >style</mat-icon>Rezerwacje</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="."><mat-icon class="sidenav-list-item-icon" >settings</mat-icon>Ustawienia</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="d-flex flex-wrap justify-content-around">
    <mat-spinner class="loading-spinner"*ngIf="loading"></mat-spinner>
    <mat-card class="card" *ngFor="let reservation of reservations">
      <mat-card-header>
        <mat-card-title>Rezerwacja</mat-card-title>
        <mat-card-subtitle>{{reservation.dateStart}}</mat-card-subtitle>
        <mat-card-subtitle>{{reservation.customer.firstName}} {{reservation.customer.lastName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Potwierdź</button>
        <button mat-raised-button color="disabled">Anuluj</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>